<div class="header">
  <span class="logo" [routerLink]="['/']"> Home</span>

  <button mat-raised-button class="right" [routerLink]="['/signup']">
    sign up
  </button>

  <i
    class="material-icons"
    style="margin-left: 40%; cursor: pointer"
    [routerLink]="['/shopping']"
    >shopping_cart</i
  >
</div>
