<mat-card class="product-card">
  <h2>{{ inputPost.id }}</h2>
  <hr />
  <p>{{ inputPost.body }}</p>
  <hr />
  <button
    mat-raised-button
    style="background-color: orangered; color: #fff"
    (click)="selectProduct(inputPost)"
  >
    product
  </button>
</mat-card>
