<div style="background-color: blanchedalmond; padding: 16px">
  <div *ngFor="let post of posts">
    <app-card
      [inputPost]="post"
      (selectedProduct)="selectProduct($event)"
    ></app-card>
  </div>
</div>
