<div style="background-color: lightblue; padding: 50px">
  <mat-card class="s-card">
    <h1>Sign up</h1>

    <form [formGroup]="signupForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="garry@gmail.com"
          formControlName="emailFormControl"
        />
        <mat-hint>it's you email</mat-hint>
        <mat-error
          *ngIf="
            this.signupForm.controls['emailFormControl'].hasError('required')
          "
          >email is <strong>required</strong></mat-error
        >

        <mat-error
          *ngIf="
            this.signupForm.controls['emailFormControl'].hasError('email') &&
            !this.signupForm.controls['emailFormControl'].hasError('required')
          "
          >email is <strong>not in proper format</strong></mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="passwordControl" type="password" />
        <mat-error
          *ngIf="
            this.signupForm.controls['passwordControl'].hasError('required')
          "
          >email is <strong>required</strong></mat-error
        >
      </mat-form-field>
      <button mat-raised-button class="sign-up" (click)="signUp()">
        Sign up
      </button>
    </form>
  </mat-card>
</div>
