.sub-button {
    background-color: indigo;
    padding: 16px;
    border-radius: 10px;
    color: #fff;
}
.ele {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
