<p>{{ title }}</p>

<button class="sub-button" (click)="toggleForm()">{{ btnTitle }}</button>

<div *ngIf="isFormVisible" style="padding: 20px">
  <input name="usname" [(ngModel)]="userName" />

  <p>{{ userName }}</p>
  <button class="sub-button" (click)="submit()">Submit</button>
</div>

<p *ngFor="let city of cities" class="ele">{{ city }}</p>
